.ItemBlock {
  background-color: bisque;
  width: 200px;
  height: 200px;
  margin: 12px;
  display: flex;
  justify-content: center;
}
h2 {
  padding-left: 15px;
  position: absolute;
  color: black;
}

img {
  width: 180px;
  height: 180px;
  margin: 10px;
}