header{
  background-color: brown;
  display: flex;
  flex-wrap: nowrap;

}

header h1{
  margin-right: auto;
  margin-left: 10px;
}

header h3 {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}

